#main {
    margin-top: 60px;
    display: flex;
    min-height: 100vh;
    #aside {
        width: 300px;
        background-color: #000;
        border-right: 1px solid #fff;
        button {
            width: 80%;
            font-size: 16px;
            text-align: left;
            margin: 10px 40px 0;
            padding: 10px;
            color: #fff;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            
            .icon {
                font-size: 16px;
                vertical-align: -1px;
                margin-right: 10px;
            }
            &:hover{
                background-color: #8d8b8b;
            }
        }
    }
    #contents {
        width: calc(100% - 300px);
        background-color: #000;
        padding: 20px;
        color: #fff;
        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            div {
                width: 24%;
                margin-bottom: 20px;
                padding: 10px;
                img {
                    width: 100%;
                }
            }
        }
    }
    #search {
        width: 100%;
        background-color: #000;
        padding: 20px;
        color: #fff;
        div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            div {
                width: 24%;
                margin-bottom: 20px;
                padding: 10px;
                img {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 1200px){
    #main #contents div div {
        width: 48%;
    }
}
// @media (max-width: 800px){
//     #main #contents div div {
//         width: 100%
//     }
// }
@media (max-width: 800px){
    #main {
        flex-direction: column;
        margin-top: 100px;
        #aside {
            width: 100%;
            border-bottom: 1px solid #fff;
            div {
                display: flex;
                flex-wrap: wrap;
            }
            button {
                display: inline-block;
                width: 32%;
                white-space: nowrap;
                text-overflow: initial;
                overflow: initial;
                span {
                    display: inline-block;
                    color: #fff;
                }
            }
        }
        #contents {
            width: 100%;
        }
    }
}

.video__sub {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    .left {
        width: calc(100% - 330px);
        .play {
            width: 100%;
            background-color: #aaa;
            padding-bottom: 24.65%;
            position: relative;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        .desc {
            color: #fff;
            padding: 10px 0;
            h3 {
                font-size: 24px;
                line-height: 1.5;
                margin-bottom: 10px;
            }
            .channer {
                background-color: #6d6d6d;
                border-radius: 20px;
                padding: 20px;
                a {
                    font-size: 3vw;
                    img {
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        margin-right: 10px;
                    }
                }
                .text {
                    margin-top: 10px;
                    span {
                        display: inline-block;
                        font-size: 16px;
                        margin-left: 20px;
                        .icon {
                            vertical-align: -4px;
                            margin-right: 2px;
                            color: rgb(160, 4, 4);
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }
                }
            }
            .description {
                margin-top: 20px;
                white-space: pre-line;
                text-align: justify;
            }
        }
    }
    .right {
        width: 300px;
        height: 600px;
        background-color: #fff;
    }
}